<header class="blackgradient">
    <div class="container">
        <h1>VRealityNexus</h1>
        <% if (!user) { %>
            <a type="button" class="btn btn-info" href="/authorize/discord"><i class="fa-brands fa-discord"></i> Login with Discord</a>
        <% } %>
    </div>
</header>
