<header class="blackgradient">
    <div class="container">
        <h1>Moments</h1>
        <% if (user) { %>
            <p><b><%= user.username %></b></p>
        <% } else { %>
            <a type="button" class="btn btn-info" href=""><i class="fa-brands fa-discord"></i> Login with Discord</a>
        <% } %>
    </div>
</header>
